{{!-- <section>
  <a href="/post/{{id}}">
    <header>{{post.title}}</header>
  </a>
</section> --}}

  <div class="col-md-5">
    <h2>
           <a href="/post/{{post.id}}">{{post.title}}</a> 
    </h2>
    <p>Created by {{user.username}} on {{post.createdAt}}</p>
  </div>

  {{!-- its not reading the id and username. --}}

  {{!-- cannot read id or username --}}